:root {
    --main-grey: lightslategrey;
    --green1: darkseagreen;
    --green2: rgb(118, 168, 118);
    --hover: dimgrey;
    --sidebar: blanchedalmond;
    --footer: skyblue;
}

body {
    background-color: var(--main-grey);
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

button {
    margin: 1vw;
    padding: 1vw;
    font-size: 1vw;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
}

.boton-gris {
    background-color: var(--main-grey);
    color: white;
}

.boton-gris a {
    text-decoration: none;
    color: white;
}

input[type=text], input[type=email], input[type=password], textarea {
    width: 100%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.main-usuario {
    background-color: var(--green1);
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5vw;
}

.form-usuario {
    width: 30%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
}

.form-usuario button {
    width: 50%;
}

/* ------------------------------------ */
/* ------------- HEADER --------------- */
/* ------------------------------------ */

.cabecera {
    /* border: 1px solid red; */
    background-color: var(--green1);
    width: 100%;
    display: flex;
}

.container-logo {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
}

.container-title-menu {
    /* border: 1px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
}

.title {
    /* border: 1px solid red; */
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    font-style: italic;
}

.menu {
    /* border: 1px solid red; */
    background-color: var(--green2);
    margin-bottom: 0;
    list-style-type: none;
}

.menu li {
    color: white;
    float: left;
    padding: 2vw;
    text-align: center;
    font-size: 1.5vw;
}

.menu li:hover {
    background-color: var(--hover);
}

#boton-login {
    position: absolute;
    right: 0;
}

/* ------------------------------------ */
/* ----------- CONTENT-MAIN ----------- */
/* ------------------------------------ */

.container-main-sidebar {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    margin-top: 0.5%;
}

/* ------------------------------------ */
/* -------------- SIDEBAR ------------- */
/* ------------------------------------ */

.sidebar {
    /* border: 1px solid red; */
    background-color: var(--sidebar);
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
}

.container-anuncio {
    /* border: 1px solid blue; */
    border-bottom: 1px solid var(--main-grey);
    padding: 1vw;
    text-align: center;
}

.container-anuncio img {
    border: 3px solid var(--green2);
    max-width: 350px;
    max-height: 350px;
}

.container-anuncio a {
    color: black;
    font-size: 1vw;
}

.sidebar p {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

/* ------------------------------------ */
/* -------------- FOOTER -------------- */
/* ------------------------------------ */

.pie-de-pagina {
    /* border: 1px solid yellow; */
    background-color: var(--footer);
    padding: 0.5vw;
    margin-top: 0.5%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}