#boton-login {
    display: none;
}

/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.form-formularios button {
    align-self: center;
}

ul {
    margin: 1vw;
}

li {
    color: red;
    font-size: 1vw;
}