.boton-login {
    display: none;
}

/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.main-perfil {
    border: 1px solid red;
    background-color: darkseagreen;;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    font-size: 2vw;
}

.boton-logout {
    height: min-content;
    background-color: lightslategray;
    margin: 1vw;
    padding: 1vw;
    font-size: 1vw;
    cursor: pointer;
}

.boton-logout a {
    text-decoration: none;
    color: white;
}
