/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.main-portada {
    /* border: 1px solid red; */
    background-color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
}

#id-busqueda {
    width: 50%;
    margin: 1vw;
    display: flex;
    align-self: center;
}

#id-busqueda input{
    width: 100%;
    margin-right: 0.2vw;
}

#id-busqueda .boton-gris{
    margin: 0;
    padding: 0.2vw 1vw;
}

#hits {
    width: 50%;
    align-self: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}


#hits li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#hits li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.grid-frutas {
    display: grid;
    grid-template-columns: auto auto auto;
}

.imagen {
    /* border: 1px solid red; */
    max-width: 250px;
    max-height: 250px;
}

.grid-item {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 1vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.grid-item img {
    max-width: 250px;
    max-height: 250px;
}

.grid-item a {
    color: var(--green2);
}