body {
    background-color: lightslategrey;
}

/* ------------------------------------ */
/* ------------- HEADER --------------- */
/* ------------------------------------ */

.cabecera {
    /* border: 1px solid red; */
    background-color: darkseagreen;
    width: 100%;
    height: auto;
    display: flex;
}

.container-logo {
    border: 1px solid red;
    width: 25%;
    height: auto;
    display: flex;
    margin: 0;
}

.container-logo img {
    width: 100%;
    height: 100%;
}

.container-title-menu {
    /* border: 1px solid red; */
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title {
    /* border: 1px solid red; */
    width: auto;
    height: auto;
    padding: 1vw;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    font-style: italic;
}

.menu {
    /* border: 1px solid red; */
    width: auto;
    height: auto;
}

.menu ul {
    /* border: 1px solid red; */
    background-color: rgb(118, 168, 118);
    margin-bottom: 0;
    list-style-type: none;
    overflow: hidden;
}

.menu li {
    color: white;
    float: left;
    padding: 2vw;
    text-align: center;
    font-size: 1.5vw;
}

.menu li:hover {
    background-color: dimgrey;
}

/* ------------------------------------ */
/* -------------- CONTENT ------------- */
/* ------------------------------------ */

.container-main-sidebar {
    /* border: 1px solid blue; */
    background-color: plum;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5px;
}

.main-portada {
    /* border: 1px solid red; */
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    background-color: white;
    padding: 1vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.grid-item figure {
    margin: 0;
}

.grid-item figure img {
    /* border: 1px solid dimgrey; */
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
}

.grid-item a {
    color: rgb(118, 168, 118);
}

/* ------------------------------------ */
/* -------------- SIDEBAR ------------- */
/* ------------------------------------ */

.sidebar {
    border: 1px solid red;
    background-color: blanchedalmond;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.container-anuncio {
    /* border: 1px solid blue; */
    border-bottom: 1px solid blueviolet;
    width: auto;
    height:auto;
    padding: 1vw;
    text-align: center;
}

.container-anuncio figure {
    /* border: 1px solid black; */
    margin: 0;
}

.container-anuncio figure img {
    border: 3px solid saddlebrown;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
}

.container-anuncio a {
    color: black;
    font-size: 1vw;
}

.sidebar p {
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}

/* ------------------------------------ */
/* -------------- FOOTER -------------- */
/* ------------------------------------ */

.pie-de-pagina {
    border: 1px solid yellow;
    background-color: skyblue;
    margin-top: 5px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}