/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.main-portada {
    /* border: 1px solid red; */
    background-color: white;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.imagen {
    /* border: 1px solid red; */
    max-width: 250px;
    max-height: 250px;
}

.grid-item {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 1vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.grid-item img {
    max-width: 250px;
    max-height: 250px;
}

.grid-item a {
    color: var(--green2);
}