/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.main-producto {
    /* border: 1px solid red; */
    background-color: white;
    width: 75%;
}

.container-nombre-marca-precio {
    /* border: 1px solid red; */
    width: 58%;
    float: left;
    padding-left: 1vw;

}

h1, h2, h3 {
    margin: 1vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3, h4 {
    font-size: 1.5vw;
}

.imagenes-producto {
    /*border: 1px solid blue;*/
    width: 40%;
    float: right;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 1vw;
}

.imagenes-producto img {
    max-width: 250px;
    max-height: 250px;
}

.descripcion {
    margin: 2vw;
    font-size: 1.2vw;
}

.boton-comentarios {
    background-color: var(--green1);
    color: white;
}

.container-form {
    border: 3px solid var(--green1);
    background-color: gainsboro;
    display: none;
    margin: 1vw;
    padding: 1vw;
    font-size: 1vw;
}

.container-form button {
    width: 20%;
}

form {
    padding: 1vw;
}