/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.main-producto {
    /* border: 1px solid red; */
    background-color: white;
    width: 75%;
}

.container-nombre-marca-precio {
     /*border: 1px solid red;*/
    width: 58%;
    float: left;
    padding-left: 1vw;

}

h1, h2, h3 {
    margin: 1vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3, h4 {
    font-size: 1.5vw;
}

.imagenes-producto {
    /*border: 1px solid blue;*/
    width: 40%;
    float: right;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 1vw;
}

.imagenes-producto img {
    max-width: 250px;
    max-height: 250px;
}

.descripcion {
    /*border: 1px solid red;*/
    margin: 2vw;
    font-size: 1.2vw;
}

.boton-comentarios {
    background-color: var(--green1);
    color: white;
}

.container-comentarios {
    border: 3px solid var(--green1);
    background-color: gainsboro;
    display: none;
    margin: 1vw;
    padding: 2vw;
    font-size: 1vw;
}

.container-comentarios .boton-comentarios {
    width: 20%;
}

#lista-comentarios {
    max-height: 30vw;
    overflow: scroll;
}

.li-comentarios {
    margin: 1vw;
}

.li-comentarios button {
    margin: auto auto auto 1vw;
    padding: 0.3vw;
}

form {
    padding: 1vw;
}

#id-formulario-update {
    border: 3px solid var(--main-grey);
    background-color: var(--green1);
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#id-formulario-update input {
    display: none;
}