/* Ocultar y modificar */

.cabecera {
    display: none;
}

.sidebar {
    display: none;
}

.pie-de-pagina {
    border: 1px solid white;
    background-color: white;
}

.boton-comentarios {
    display: none;
}

a {
    display: none;
}

/* ------------------------------------ */
/* -------------- CONTENT ------------- */
/* ------------------------------------ */

.main-producto {
    width: 100%;
}

.container-nombre-marca-precio-logotipo {
    /* border: 1px solid red; */
    width: 67%;
    float: left;
    display: flex;
    justify-content: space-between;
    margin: 1vw;
}

.container-nombre-marca-precio {
    /* border: 1px solid red; */
    width: auto;
}

.imagenes-producto {
    /* border: 1px solid yellow; */
    width: 30%;
}

.descripcion {
    font-family: Arial, Helvetica, sans-serif;
}