/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.form-formularios {
    width: 100%;
}

.container-nmp-imagenes {
    display: flex;
}

.container-nombre-marca-precio {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.imagenes-producto {
    width: 50%;
}

.imagenes-producto figure {
    display: inline-block;
    margin: 1vw;
}

.form-formularios button {
    width: 25%;
    align-self: center;
}

#id-formulario-etiquetas {
    border: 3px solid var(--main-grey);
    background-color: var(--green1);
    width: 50%;
    height: 75%;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: none;
}

#id-formulario-etiquetas input {
    width: 50%;
}

#id-etiquetas, #id-nuevas-etiquetas {
    max-height: 30%;
    overflow: scroll;
}