/* ------------------------------------ */
/* --------------- MAIN --------------- */
/* ------------------------------------ */

.main-producto {
    border: 1px solid red;
    background-color: white;
    width: 75%;
    height: auto;
}

.container-nombre-marca-precio {
    /* border: 1px solid red; */
    width: 58%;
    height: auto;
    float: left;
    padding-left: 1vw;
}

.nombre {
    margin: 1vw;
    font-size: 3vw;
}

.marca {
    margin: 1vw;
    font-size: 2vw;
}

.precio {
    margin: 1vw;
    font-size: 1.5vw;
}

.imagenes-producto {
    /* border: 1px solid blue; */
    width: 40%;
    height: auto;
    float: right;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 1vw;
}

.imagenes-producto figure {
    /* border: 1px solid green; */
    margin: 0;
}

.imagenes-producto img {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
}

.descripcion {
    margin: 2.5vw;
    font-size: 1.2vw;
}

.boton-comentarios {
    background-color: darkseagreen;
    color: white;
    opacity: 0.8;
    float: right;
    padding: 1vw;
    margin: 1vw;
    cursor: pointer;
}

.container-form {
    border: 3px solid darkseagreen;
    background-color: gainsboro;
    height: auto;
    display: none;
    margin: 1vw;
    padding: 1vw;
    font-size: 1vw;
}

.formulario-comentarios {
    padding: 1vw;
}

.formulario-comentarios h4 {
    font-size: 1.2vw;
}

.formulario-comentarios input[type=text], .formulario-comentarios textarea {
    width: 100%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.boton-enviar {
    background-color: darkseagreen;
    color: white;
    opacity: 0.8;
    padding: 1vw;
    cursor: pointer;
}
