{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/login.css" xmlns="http://www.w3.org/1999/html">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="static/js/login.js"></script>

{% endblock %}


{% block titulo %}

Login

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-formularios">

    <form class="form-formularios" id="id-formulario-login">

        <label for="nombre"><b>Nombre</b></label>
        <input type="text" id="nombre" name="nombre" placeholder="Introduce nombre" required>

        <label for="password"><b>Password</b></label>
        <input type="password" id="password" name="password" placeholder="Introduce contraseña" required>

        <button class="boton-gris" type="button" id="IDbotonlogin">Log in</button>
        <button class="boton-gris" type="button"><a href="registro.php">Registrarse</a></button>
      
    </form>

</main>

{% endblock %}