{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/login.css" xmlns="http://www.w3.org/1999/html">

{% endblock %}


{% block titulo %}

Login

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-usuario">

    <form class="form-usuario" action="login.php" method="post">

        <label for="nombre"><b>Nombre</b></label>
        <input type="text" name="nombre" placeholder="Introduce nombre" required>

        <label for="password"><b>Password</b></label>
        <input type="password" name="password" placeholder="Introduce contraseña" required>

        <button class="boton-gris" type="submit">Log in</button>

        <button class="boton-gris" type="button"><a href="registro.php">Registrarse</a></button>
      
    </form>

</main>

{% endblock %}