{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/perfil_usuario.css">

{% endblock %}


{% block titulo %}

Perfil

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-usuario">

    <form class="form-usuario" action="perfil_usuario.php" method="post">

        <label for="nombre"><b>Nombre</b></label>
        <input type="text" name="nombre" value="{{ usuario.nombre }}" required>

        <label for="password"><b>Password</b></label>
        <input type="password" name="password" value="********" required>

        <label for="email"><b>Email</b></label>
        <input type="email" name="email" value="{{ usuario.email }}" required>

        <label for="rol"><b>Rol</b></label>
        <input type="text" name="rol" value="{{ usuario.rol }}" required>

        <button class="boton-gris" type="submit">Guardar cambios</button>

        <button class="boton-gris" type="button"><a href="logout.php">Log out</a></button>

    </form>

</main>

{% endblock %}