{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/perfil_usuario.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="static/js/perfil_usuario.js"></script>

{% endblock %}


{% block titulo %}

Perfil

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-formularios">

    <form class="form-formularios" id="id-formulario-perfil">

        <ul class="errores" id="errores"></ul>

        <label for="nombre"><b>Nombre</b></label>
        <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" required>

        <label for="email"><b>Email</b></label>
        <input type="email" id="email" name="email" value="{{ usuario.email }}" required>

        <label for="password"><b>Password</b></label>
        <input type="password" id="password" name="password" value="********" required>

        <button type="button" class="boton-gris" id="IDbotonperfil">Guardar cambios</button>
        <button type="button" class="boton-gris"><a href="logout.php">Log out</a></button>

    </form>

</main>

{% endblock %}