{% extends "base.html" %}


{% block css %}

<link rel="stylesheet" href="static/css/portada.css">

{% endblock %}


{% block titulo %}

Home -

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-portada">

    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/aguacate.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Aguacate</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/fresa.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Fresa</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/uva.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Uva</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/manzana.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Manzana</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/granada.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Granada</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/melon.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Melón</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/naranja.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Naranja</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/pera.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Pera</a>
        </figcaption>
    </section>
    <section class="grid-item">
        <figure>
            <a href="producto.php"><img src="static/images/sandia.jpeg"/></a>
        </figure>
        <figcaption>
            <a href="producto.php">Sandía</a>
        </figcaption>
    </section>

</main>

{% endblock %}