{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/portada.css">
<script type="text/javascript" src="static/js/portada.js"></script>

{% endblock %}


{% block titulo %}

Home

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-portada" id="idmain-portada">

    <script type="text/javascript">

        var array_frutas = JSON.parse('{{ frutas | json_encode | raw }}');

        createGridFrutas(array_frutas);

    </script>

</main>

{% endblock %}