{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/producto.css">
<link rel="stylesheet" href="static/css/producto_editar.css">
<script type="text/javascript" src="static/js/producto.js"></script>

{% endblock %}


{% block titulo %}

Editar producto

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-formularios">

    <form class="form-formularios" id="id-formulario-editar" action="producto_editar.php" method="post" enctype="multipart/form-data">

        <ul class="errores" id="errores">
        {% for e in errores %}

        <li>{{ e }}</li>

        {% endfor %}
        </ul>

        <div class="container-nmp-imagenes">
            <section class="container-nombre-marca-precio">

                <label for="nombre"><b>Nombre</b></label>
                <input type="text" id="nombre" name="nombre" value="{{ fruta.nombre }}" required>

                <label for="marca"><b>Marca</b></label>
                <input type="text" id="marca" name="marca" value="{{ fruta.marca }}" required>

                <label for="precio"><b>Precio</b></label>
                <input type="text" id="precio" name="precio" value="{{ fruta.precio }}" required>

                <label for="descripcion"><b>Descripcion</b></label>
                <textarea id="descripcion" name="descripcion" rows="10" required>{{ fruta.descripcion }}</textarea>

                <label for="publicado"><b>Publicado</b></label>
                <select name="publicado" id="publicado" form="id-formulario-editar">
                    <option value="1">Sí</option>
                    <option value="0">No</option>
                </select>

            </section>

            <section class="imagenes-producto">
                <figure>
                    <img id="imagen1" src="{{ fruta.img1 }}"/>
                    <figcaption>Imagen 1</figcaption>
                    <input type="file" id="img1" name="img1"/><br>
                </figure>
                <figure>
                    <img id="imagen2" src="{{ fruta.img2 }}"/>
                    <figcaption>Imagen 2</figcaption>
                    <input type="file" id="img2" name="img2"/><br>

                </figure>
            </section>
        </div>

        <button type="button" class="boton-gris" onclick="openForm('id-formulario-etiquetas')">Etiquetas</button>
        <button type="submit" class="boton-gris" name="submit-update-producto">Guardar cambios</button>
        <button type="submit" class="boton-gris" name="submit-delete-producto">Borrar producto</button>
        <button type="button" class="boton-gris"><a href="index.php">Cancelar</a></button>

    </form>

    <form id="id-formulario-etiquetas" name="formulario-etiquetas" action="producto_editar.php" method="post">

        <ul id="id-etiquetas">
            {% for e in etiquetas %}

            <li>{{ e }}</li>

            {% endfor %}
        </ul>

        <div id="id-nuevas-etiquetas"></div>

        <button type="button" class="boton-gris" onclick="createEtiqueta()">Añadir etiqueta</button>

        <button type="submit" class="boton-gris" name="submit-etiquetas">Guardar cambios</button>
        <button type="reset" class="boton-gris" onclick="closeForm('id-formulario-etiquetas')">Cerrar</button>

    </form>

</main>

{% endblock %}