{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/producto.css" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="static/css/producto_editar.css">

{% endblock %}


{% block titulo %}

Editar producto

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-usuario">

    <form class="form-usuario" action="producto_editar.php" method="post" enctype="multipart/form-data">

        {% for e in errores %}

        <p style="color: red"> {{ e }} </p>

        {% endfor %}

        <div class="container-nmp-imagenes">
            <section class="container-nombre-marca-precio">

                <label for="nombre"><b>Nombre</b></label>
                <input type="text" name="nombre" value="{{ fruta.nombre }}" required>

                <label for="marca"><b>Marca</b></label>
                <input type="text" name="marca" value="{{ fruta.marca }}" required>

                <label for="precio"><b>Precio</b></label>
                <input type="text" name="precio" value="{{ fruta.precio }}" required>

                <label for="descripcion"><b>Descripcion</b></label>
                <textarea name="descripcion" rows="10" required>{{ fruta.descripcion }}</textarea>

            </section>

            <section class="imagenes-producto">
                <figure>
                    <img src="{{ fruta.imagenes.imagen1.ruta }}"/>
                    <figcaption>Imagen 1</figcaption>
                    <input type="file" name="imagen1"/><br>
                </figure>
                <figure>
                    <img src="{{ fruta.imagenes.imagen2.ruta }}"/>
                    <figcaption>Imagen 2</figcaption>
                    <input type="file" name="imagen2"/><br>

                </figure>
            </section>
        </div>

        <button type="submit" class="boton-gris" name="submit-update-producto">Guardar cambios</button>
        <button type="submit" class="boton-gris" name="submit-delete-producto">Borrar producto</button>
        <button type="button" class="boton-gris"><a href="index.php">Cancelar</a></button>

    </form>

</main>

{% endblock %}