{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/producto.css">
<script type="text/javascript" src="static/js/producto.js"></script>

{% endblock %}


{% block titulo %}

Producto

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-producto">

    <!-- CONTAINER-NOMBRE-MARCA-PRECIO-LOGOTIPO -->
    <div class="container-nombre-marca-precio-logotipo">

        <!-- CONTAINER-NOMBRE-MARCA-PRECIO -->
        <div class="container-nombre-marca-precio">
            <h1>{{ fruta.nombre }}</h1>

            <h2>{{ fruta.marca }}</h2>

            <h3>{{ fruta.precio }} &euro; -- <a href="producto_imprimir.php?fruta={{ fruta['id'] }}">Imprimir</a></h3>
        </div>

        {% block imprimirlogotipo %}

        {% endblock %}

    </div>
    
    
    <!-- CONTAINER-IMAGENES -->
    <section class="imagenes-producto">
        <figure>
            <img src="{{ fruta.img1 }}"/>
            <figcaption>Imagen 1 de {{ fruta.marca }}</figcaption>
        </figure>
        <figure>
            <img src="{{ fruta.img2 }}"/>
            <figcaption>Imagen 2 de {{ fruta.marca }}</figcaption>
        </figure>
    </section>

    <!-- CONTAINER-DESCRIPCION-PRODUCTO -->
    <p class="descripcion">
        <br><br><br><br><br><br><br><br>
        {{ fruta.descripcion }}
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        <a href="index.php">Link a otra posible página externa sobre la fruta que estás viendo.</a>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br><br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
        quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>

    <!--    BOTON-EDITAR-PRODUCTO-->
    {% if usuario.rol == "Admin" or usuario.rol == "Gestor" %}

    <button type="button" class="boton-gris"><a href="producto_editar.php">Editar producto</a></button>

    {% endif %}

    <!-- BOTON-FORMULARIO -->

    <button class="boton-comentarios" id="id-boton-comentarios" onclick="openForm('id-container-comentarios')">Deja tu comentario</button>

    <section class="container-comentarios" id="id-container-comentarios">

        <h4>Comentarios y opiniones</h4>

        <ul id="lista-comentarios">
        <script type="text/javascript">

            var array_comentarios = JSON.parse('{{ comentarios | json_encode | raw }}');

            var rol_usuario = "{{ usuario.rol }}";

            createListComentarios(array_comentarios, rol_usuario);

        </script>
        </ul>

        {% if usuario %}
        <form id="id-formulario-insert" name="formulario-insert" action="producto.php" method="post">

            <p><b>Deja tu comentario</b></p>

            <textarea name="insertComentario" rows="10" placeholder="Escribe aquí tu comentario" oninput="censurarComentario(insertComentario.value, 'formulario-insert', 'insertComentario')" required></textarea>

            <button type="submit" class="boton-comentarios" name="submit-add-comentario">Enviar comentario</button>
            <button type="reset" class="boton-comentarios" onclick="closeForm('id-container-comentarios')">Cerrar</button>

        </form>
        {% endif %}

        <form id="id-formulario-update" name="formulario-update" action="producto.php" method="post">

            <input type="text" name="idComentario">

            <textarea name="updateComentario" rows="10" oninput="censurarComentario(updateComentario.value, 'formulario-update', 'updateComentario')" required></textarea>

            <button type="submit" class="boton-gris" name="submit-update-comentario">Guardar cambios</button>
            <button type="submit" class="boton-gris" name="submit-delete-comentario">Borrar</button>
            <button type="reset" class="boton-gris" onclick="closeForm('id-formulario-update')">Cerrar</button>

        </form>

    </section>

</main>

{% endblock %}