{% extends "base.html" %}


{% block include %}

<link rel="stylesheet" href="static/css/producto.css">
<script type="text/javascript" src="static/js/producto.js"></script>

{% endblock %}


{% block titulo %}

Producto

{% endblock %}


{% block main %}

<!-- CONTAINER-MAIN -->
<main class="main-producto">

    <!-- CONTAINER-NOMBRE-MARCA-PRECIO-LOGOTIPO -->
    <div class="container-nombre-marca-precio-logotipo">

        <!-- CONTAINER-NOMBRE-MARCA-PRECIO -->
        <div class="container-nombre-marca-precio">
            <h1>{{ fruta['nombre'] }}</h1>

            <h2>{{ fruta['marca'] }}</h2>

            <h3>{{ fruta['precio'] }} &euro; -- <a href="producto_imprimir.php?fruta={{ fruta['id'] }}">Imprimir</a></h3>
        </div>

        {% block imprimirlogotipo %}

        {% endblock %}

    </div>
    
    
    <!-- CONTAINER-IMAGENES -->
    <section class="imagenes-producto">
        <figure><img src="{{ fruta['path'] }}"/></figure>
        <figcaption>Foto 1 sobre {{ fruta['marca'] }}</figcaption>
        <figure><img src="{{ fruta['path'] }}"/></figure>
        <figcaption>Foto 2 sobre {{ fruta['marca'] }}</figcaption>
    </section>

    <!-- CONTAINER-DESCRIPCION-PRODUCTO -->
    <p class="descripcion">
        <br><br><br><br><br><br><br><br>
        {{ fruta['descripcion'] }}
        <br><br>
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas.
        <a href="index.php">Link a otra posible página externa sobre granadas.</a>
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. Mucho texto e información sobre las bondades de las granadas. 
        Mucho texto e información sobre las bondades de las granadas. 
    </p>

    <!-- BOTON-FORMULARIO -->

    <button class="boton-comentarios" id="id-boton-comentarios" onclick="openForm('id-container-comentarios')">Deja tu comentario</button>

    <section class="container-comentarios" id="id-container-comentarios">

        <h4>Comentarios y opiniones</h4>

        <ul id="lista-comentarios">
        <script type="text/javascript">

            var array_comentarios = JSON.parse('{{ comentarios | json_encode | raw }}');

            var rol_usuario = "{{ usuario.rol }}";

            createListComentarios(array_comentarios, rol_usuario);

        </script>
        </ul>

        {% if usuario %}
        <form id="id-formulario-insert" name="formulario-insert" action="producto.php" method="post">

            <p><b>Deja tu comentario</b></p>

            <textarea name="insertComentario" rows="10" placeholder="Escribe aquí tu comentario" oninput="censurarComentario(insertComentario.value, 'formulario-insert', 'insertComentario')" required></textarea>

            <button type="submit" class="boton-comentarios" name="submit-add-comentario">Enviar comentario</button>
            <button type="reset" class="boton-comentarios" onclick="closeForm('id-container-comentarios')">Cerrar</button>

        </form>
        {% endif %}

        <form id="id-formulario-update" name="formulario-update" action="producto.php" method="post">

            <input type="text" name="idComentario">

            <textarea name="updateComentario" rows="10" oninput="censurarComentario(updateComentario.value, 'formulario-update', 'updateComentario')" required></textarea>

            <button type="submit" class="boton-gris" name="submit-update-comentario">Guardar cambios</button>
            <button type="submit" class="boton-gris" name="submit-delete-comentario">Borrar</button>
            <button type="reset" class="boton-gris" onclick="closeForm('id-formulario-update')">Cerrar</button>

        </form>

    </section>

</main>

{% endblock %}